.article {
    padding: 32px;
    color: white;
    background: #18181b;
    margin: 50px auto auto auto;
    display: grid;
    justify-content: center;
}

.article h1,
.article h2,
.article p {
    color: white;
}

.article img {
    display: block;
    margin: 0 auto;
    height: 400px;
}